
.layout{
    width: 100%; height: 100%;
}

.mainContainer{
    width: 100%; height: 100%;
    margin-top: 62px;
    display: flex;
    background-color: #2f2f2f;
}

.main{
    width: 100%;
    min-width: 1080px;
    min-height: 100vh;
    height: fit-content;
    padding: 40px 40px 40px 280px;
}